<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
import micropip

await micropip.install('pandas')

# Import pandas after installation
import pandas as pd
print(pd.__version__)

<ipython-input-1-4a848102c67d>:6: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

2.2.0

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [10]:
await download(file_path, "survey_data.csv")
file_name="survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [8]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [20]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [12]:
df.shape, len(df)

((65437, 114), 65437)

Print the number of columns in the dataset.

In [13]:
df.shape

(65437, 114)

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [22]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 114 columns):
 #    Column                          Dtype
---   ------                          -----
 0    ResponseId                      int64
 1    MainBranch                      object
 2    Age                             object
 3    Employment                      object
 4    RemoteWork                      object
 5    Check                           object
 6    CodingActivities                object
 7    EdLevel                         object
 8    LearnCode                       object
 9    LearnCodeOnline                 object
 10   TechDoc                         object
 11   YearsCode                       object
 12   YearsCodePro                    object
 13   DevType                         object
 14   OrgSize                         object
 15   PurchaseInfluence               object
 16   BuyNewTool                      object
 17   BuildvsBuy                      object
 18   TechEndorse                     object
 19   Country                         object
 20   Currency                        object
 21   CompTotal                       float64
 22   LanguageHaveWorkedWith          object
 23   LanguageWantToWorkWith          object
 24   LanguageAdmired                 object
 25   DatabaseHaveWorkedWith          object
 26   DatabaseWantToWorkWith          object
 27   DatabaseAdmired                 object
 28   PlatformHaveWorkedWith          object
 29   PlatformWantToWorkWith          object
 30   PlatformAdmired                 object
 31   WebframeHaveWorkedWith          object
 32   WebframeWantToWorkWith          object
 33   WebframeAdmired                 object
 34   EmbeddedHaveWorkedWith          object
 35   EmbeddedWantToWorkWith          object
 36   EmbeddedAdmired                 object
 37   MiscTechHaveWorkedWith          object
 38   MiscTechWantToWorkWith          object
 39   MiscTechAdmired                 object
 40   ToolsTechHaveWorkedWith         object
 41   ToolsTechWantToWorkWith         object
 42   ToolsTechAdmired                object
 43   NEWCollabToolsHaveWorkedWith    object
 44   NEWCollabToolsWantToWorkWith    object
 45   NEWCollabToolsAdmired           object
 46   OpSysPersonal use               object
 47   OpSysProfessional use           object
 48   OfficeStackAsyncHaveWorkedWith  object
 49   OfficeStackAsyncWantToWorkWith  object
 50   OfficeStackAsyncAdmired         object
 51   OfficeStackSyncHaveWorkedWith   object
 52   OfficeStackSyncWantToWorkWith   object
 53   OfficeStackSyncAdmired          object
 54   AISearchDevHaveWorkedWith       object
 55   AISearchDevWantToWorkWith       object
 56   AISearchDevAdmired              object
 57   NEWSOSites                      object
 58   SOVisitFreq                     object
 59   SOAccount                       object
 60   SOPartFreq                      object
 61   SOHow                           object
 62   SOComm                          object
 63   AISelect                        object
 64   AISent                          object
 65   AIBen                           object
 66   AIAcc                           object
 67   AIComplex                       object
 68   AIToolCurrently Using           object
 69   AIToolInterested in Using       object
 70   AIToolNot interested in Using   object
 71   AINextMuch more integrated      object
 72   AINextNo change                 object
 73   AINextMore integrated           object
 74   AINextLess integrated           object
 75   AINextMuch less integrated      object
 76   AIThreat                        object
 77   AIEthics                        object
 78   AIChallenges                    object
 79   TBranch                         object
 80   ICorPM                          object
 81   WorkExp                         float64
 82   Knowledge_1                     object
 83   Knowledge_2                     object
 84   Knowledge_3                     object
 85   Knowledge_4                     object
 86   Knowledge_5                     object
 87   Knowledge_6                     object
 88   Knowledge_7                     object
 89   Knowledge_8                     object
 90   Knowledge_9                     object
 91   Frequency_1                     object
 92   Frequency_2                     object
 93   Frequency_3                     object
 94   TimeSearching                   object
 95   TimeAnswering                   object
 96   Frustration                     object
 97   ProfessionalTech                object
 98   ProfessionalCloud               object
 99   ProfessionalQuestion            object
 100  Industry                        object
 101  JobSatPoints_1                  float64
 102  JobSatPoints_4                  float64
 103  JobSatPoints_5                  float64
 104  JobSatPoints_6                  float64
 105  JobSatPoints_7                  float64
 106  JobSatPoints_8                  float64
 107  JobSatPoints_9                  float64
 108  JobSatPoints_10                 float64
 109  JobSatPoints_11                 float64
 110  SurveyLength                    object
 111  SurveyEase                      object
 112  ConvertedCompYearly             float64
 113  JobSat                          float64
dtypes: float64(13), int64(1), object(100)
memory usage: 32.0+ MB

Print the mean age of the survey participants.

In [58]:
df1 = df.groupby('Age')['Age'].count()
df1=pd.DataFrame(df1)
df1.rename(columns={'Age':'Count'}, inplace=True)
df1.reset_index(inplace = True)
ma = ['21', '29.5', '39.5', '49.5', '59.5', '70', '0', '9']
df1['Mean Age'] = ma
df1['Mean Age'] = df1['Mean Age'].astype('float')
df1['Count'] = df1['Count'].astype('float')
df1['Weighted_mean'] = df1['Count']*df1['Mean Age']
total = (df1['Weighted_mean'].sum())/(df1['Count'].sum())
print(total)

32.570739795528524

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [21]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

Copyright ©  IBM Corporation. All rights reserved.